/*** Barron ***/

body {
	margin: 0;
	padding: 0;
	background: transparent url('images/header.jpg') repeat-x;
	font-size-adjust: none;
	font-stretch: normal;
	color: #444;
	font: normal normal normal small/1.5em "Lucida Grande", Verdana, sans-serif;
}
h2 {
	font-size: 150%;
	font-weight: normal;
	margin: 20px 0 0;
}
h3 {
	font-size: 130%;
	font-weight: normal;
}
a:link, a:visited {
	font-weight: normal;
	text-decoration: none;
	color: #660403;
}
a:hover {
	color: #E90017;
	text-decoration: underline;
}
#container {
	margin: 0 auto;
	width: 90%;
	max-width: 970px;
}

/* header, logo and site name styles */

#header {
	position: relative;
	height: 100px;
}
#logo {
	float: left;
	margin-top: 15px;
}
#siteName {
	float: left;
	margin: 40px 0 0;
	color: #fff;
	font-size: 350%;
}
#siteSlogan {
	float: left;
	margin: 50px 0 0 10px;
	color: #eee;
	font-size: 170%;
	white-space: nowrap;
	text-transform: lowercase;
}
#siteName a {
	color: #fff;
	text-decoration: none;
}
#siteName a:hover {
	color: #ddd;
	text-decoration: none;
}
#logo img {
	float: left;
	border: 0;
}
#logowrapper {
	position: absolute;
	line-height:4em;
}

/* nav styles -- primary links in header */

#nav {
	position: absolute;
	top: 5px;
	right: 0;
}
#nav li {
	display: inline;
}
#nav li a {
        border: medium none;
        padding: 6px 10px;
        color: #ccc;
        text-decoration: none;
        font-weight: normal;
        padding-right: 10px;
        padding-left: 10px;
}
#nav li a:hover {
        border: medium none;
        background: #7B0505 none repeat;
        color: #fff;
        padding-right: 9px;
        padding-left: 9px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
}
ul {
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style: none outside none;
}

/* main content */

#content {
	margin: 20px 0;
	float: left;
	display: inline;
	width: 75%;
	max-width: 750px;
	overflow: hidden;
}
#content img a:hover {
	border: none;
}

/* sidebar styles */

#sidebar-wrapper {
	background: transparent url('images/sidebar_bottom.jpg') no-repeat scroll left bottom;
	float: right;
	display: inline;
	margin-top: 20px;
	width: 200px;
}
#sidebar {
	margin: 0 0 20px;
	padding: 10px 0 0 30px;
	background: transparent url('images/sidebar_top.jpg') no-repeat scroll left top;
}
#sidebar .title {
	font-size: 120%;
	font-weight: bold;
	line-height: 19px;
	color: #660403;
	margin: 10px 0;
	border-bottom: 1px solid #eee;
}

/* page styles */

.pageTitle {
	margin: 10px 0 20px;
	font-size: 220%;
	color: #2D0102;
}

/* node styles */

.nodeTitle {
	margin: 0;
	font-size: 180%;
	color: #9a0000;
	padding-bottom: 10px;
	background: url('images/nodeTitle.gif') no-repeat 0;
}
.nodeTitle a {
	color: #660403;
	text-decoration: none;
}
.nodeTitle a:hover {
	color: #d00000;
	text-decoration: none;
}
.node {
	margin: 5px 0 20px;
}
.submitted {
	font-size: 70%;
	color: #a3a3a3;
}
.nodeLinks {
	font-size: 95%;
	padding: 4px 0 4px 4px;
}
.links .inline {
	border: none;
}
.taxonomy {
	font-size: 80%;
}

/* comment styles */

.commentTitle {
	margin: 20px 0 0;
	font-size: 130%;
	color: #9a0000;
	border-bottom: 1px solid #ddd;
}
.commentTitle a {
	color: #660403;
	text-decoration: none;
}
.commentTitle a:hover {
	color: #d00000;
	text-decoration: none;
}
.commentLinks {
	font-size: 95%;
	color: #444;
	margin: 20px 0 30px;
	padding: 4px 0 4px 4px;
	border: 1px solid #e1e1e1;
	background: #f7f7f7;
}

/* footer */

#footer {
	text-align:center;
	margin: 0 0 20px;
	clear: both;
	font-size: 85%;
}
#footer a {
	border: medium none;
	color: #a3a3a3;
}

/* img styles */

img {
	padding: 3px;
}
.thumbnail {
	border: 1px solid #ccc;
}
.preview {
	border: 1px solid #ccc;
}

/* other styles */

.block {
	margin: 5px 0 20px;
}
.messages {
	font-size: 110%;
	color: #C80000;
	margin: 10px 0;
}

/* table styles */

table {
	margin: 1em 0;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #AAA;
	color: #494949;
	font-weight: bold;
}
td, th {
	padding: .3em 0 .5em;
}
tr.even, tr.odd, tbody th {
	border: solid #D5D6D7;
	border-width: 1px 0;
}
tr.even {
	background: #fff;
}
tr.odd td.active {
	background: #E1E1E1;
}
tr.even td.active {
	background: #F1F1F1;
}
td.region, td.module, td.container {
	border-top: 1.5em solid #fff;
	border-bottom: 1px solid #AAA;
	color: #455067;
	font-weight: bold;
	background: #D5D6D7;
}
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
	border-top-width: 0;
}